{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<section class="posts-content">
			{% for post in posts %}
				{% include ['partials/'~post.post_type~'/tease.twig', 'partials/tease.twig'] %}
			{% endfor %}
		</section>
	</div><!-- /content-wrapper -->
{% endblock %}